<% skin ptp2n_node_app_skin %>
<% view about uses content::master extends master %>

<% template page_content() %>
<h2>Peer 2 Peer Social Network</h2>
<h6>by Lee Elenbaas</h6>
<p>This is a project designed to provide a social network implementation that answer the following 4 issues that current popular social networks suffer from:</p>
<ol>
<li>User information is not controlled by the user, but by the company running the social network.</li>
<li>Anonymous users can add information to any other user and there is hardly any way to make those anonymous users account for the consicuences of placing that data online.</li>
<li>The company running the social network is also not accountable for the conciquences of data made avaliable through its social network</li>
<li>Companies running the social network enjoy the fruits of social network data mining by using this information not for the purpose it was given to them for.</li>
</ol>
<p>The solution is to provide a framework for a peer to peer social network, where all information is strongly coupled to the person submitting it.<p>
<p>This means that the data a user is placed sits and is distributed from machines he has control over. It also means that there is no single entity running the social network that can take over the information, and no single entity. The strong coupling of data to the user is done by electronic signature that is linked directly to the user email, and will provide a way to trace back every object to the person that placed it into the social network, and this way will make him accountable to that information.</p>
<p>More information about this project can be found on its github site: <a href="https://github.com/lee-elenbaas/p2psn">https://github.com/lee-elenbaas/p2psn</a>.</p>
<% end template %> 

<% end view %>
<% end skin %>

