<% skin myskin %>
<% view home uses content::page extends page %>

<% template page_content() %>
<h2>Node deamon (noded) information</h2>
<p>address: <% host %></p>
<p>port: <% port %></p>
<% end template %> 
<% end view %>
<% end skin %>
