<% c++ #include "../node_app/content.h" %>
<% skin myskin %>
<% view master uses content::master %>

<% template title() %><%= title %><% end %>
<% template page_content() %>Override  Me<% end %>
<% template render() %>
<html>
<head>
    <title><% include title() %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<h1><% include title() %></h1>
<div id="navigation">
<ul>
<li><a href='<% url "/" %>'>Info</a></li>
<li><a href='<% url "/about" %>'>About</a></li>
< % if (!session().is_set("user")) % >
<li><a href='<% url "/login" %>'>Login</a></li>
< % else % >
<li><a href='<% url "/login" %>'>Logout</a></li>
< % end % >
</ul>
</div>
<div id="content">
<% include page_content() %>
</div>
</body>
</html>
<% end template %> 
<% end view %>
<% end skin %>
