<% c++ #include "../guest/master.hpp" %>
<% c++ #include "../../../node/admin/admin_server_content.hpp" %>
<% skin ptp2n_node_admin_skin %>
<% view admin_server uses content::admin_server extends master %>

<% template page_content() %>
<p>Server Connection</p>
<form method="post" action="<% url "/admin/server/connection" %>">
<% csrf %>
<ul>
<li>
<b><label for="port_box">Port</label></b> <% form block connection.port %> id="port_box" <% end %>
</li>
<li>
<% form input connection.submit %>
</li>
</ul>
</form>
<% end template %> 

<% end view %>
<% end skin %>

