<% c++ #include "../node_shared/base_content.h" %>
<% c++ using namespace p2psn::node_admin; %>
<% xhtml %>
<% skin ptp2n_node_admin_skin %>
<% view master uses content::master %>

<% template title() %>
	<%= title %>
<% end template %>

<% template page_content() %>
<% end template %>

<% template menu() %>
<div id="navigation">
<ul>
<li><a href="<% url "/info" %>"><% gt "Info" %></a></li>
<li><a href="<% url "/about" %>"><% gt "About" %></a></li>
<% if empty user_name %>
<li><a href="<% url "/login" %>"><% gt "Login" %></a></li>
<% else %>
<li><a href="<% url "/admin" %>"><% gt "Admin" %></a></li>
<li><a href="<% url "/logout" %>"><% gt "Logout" %></a></li>
<% end %>
</ul>
</div>
<% end template %>

<% template messages() %>
<% foreach msg in user_messages %>
<div id="messages">
<ul>
<% item %>
<li class="<%= msg.second %>"><%= msg.first %></li>
<% end %>
</ul>
</div>
<% end %>
<% end template %>

<% template identity() %>
<p id="identity">
<% if empty user_name %>
<% gt "guest" %>
<% else %>
<% gt "Welcome" %> <%= user_name %>
<% end %>
</p>
<% end template %>

<% template header() %>
<!DOCTYPE html>
<html>
<head>
    <title><% include title() %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<% if rtl %>  
<body dir="rtl">  
<% else %>  
<body>  
<% end %>
<% include menu() %>
<% include identity() %>
<h1><% include title() %></h1>
<% end template %>

<% template footer() %>
<% include messages() %>
</body>
</html>
<% end template %>

<% template render() %>
<% include header() %>
<div id="content">
<% include page_content() %>
</div>
<% include footer() %>
<% end template %> 

<% end view %>
<% end skin %>

