<% c++ #include "master.hpp" %>
<% c++ #include "../../../node/guest/guest_content.hpp" %>
<% skin ptp2n_node_admin_skin %>
<% view info uses node_admin::content::info extends master %>

<% template page_content() %>
<h2>Node deamon (noded) information</h2>
<p>address: <%= host %></p>
<p>port: <%= port %></p>
<% end template %> 

<% end view %>
<% end skin %>

