<% c++ #include "master.hpp" %>
<% c++ #include "../../../node/guest/guest_content.hpp" %>
<% skin ptp2n_node_admin_skin %>
<% view login uses content::login_page extends master %>

<% template page_content() %>
<form method="post" action="<% url "/login" %>">
<% csrf %>
<% form as_p login_info %>
</form>
<p>Default login user: <b>admin</b> password: <b>admin</b></p>
<% end template %> 

<% end view %>
<% end skin %>
