<% c++ #include "../node_shared/base_content.hpp" %>
<% skin ptp2n_node_admin_skin %>
<% view admin_server uses content::master extends master %>

<% template page_content() %>
Here will come server admin
<% end template %> 

<% end view %>
<% end skin %>

