<% skin myskin %>
<% view about uses content::page extends master %>

<% template title() %><% include master::title() %> :: <%= page_title %><% end %>
<% template page_content() %>
<h2>Peer 2 Peer Social Network</h2>
<h6>by Lee Elenbaas</h6>
<p>Some content here</p>
<% end template %> 
<% end view %>
<% end skin %>
