<% c++ #include "content.h" %>
<% skin my_skin %>
<% view base uses content::base %>

<% template title() %>
Base Template
<% end template %>

<% template page_content() %>
<%= page_content %>
<% end template %>

<% template render() %>
<html>
<body>
<h1><% include title() %></h1>
<p><a href="<% url "base" %>">base</a>|<a href="<% url "derived" %>">derived</a></p>
<% include page_content() %>
</body>
<html>
<% end template %>

<% end view %>
<% end skin %>

