<% c++ #include "../node_admin/admin_content.h" %>
<% skin ptp2n_node_admin_skin %>
<% view admin_users uses content::admin_users extends master %>

<% template page_content() %>
<% include existing_users() %>
<% end template %>

<% template existing_users() %>
<h2>Existing Users</h2>
<table>
	<thead>
	<tr>
		<th>Name</th>
		<th>Password</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
<% foreach user in users %>
	<tbody>
<% item %>
<tr>
	<td><%= user.name %></td>
	<td><%= user.password %></td>
	<td>
		<form method="post" action="<% url "/admin/users" %>">
		<% csrf %>
		<input type="hidden" name="user_name" value="<%= user.name %>" />	
		<input type="hidden" name="action" value="delete" />
		<input type="submit" value="Delete" />
		</form>
		<form method="post" action="<% url "/admin/users" %>">
		<% csrf %>
		<input type="hidden" name="delete_name" value="<%= user.name %>" />	
		<input type="hidden" name="user_name" value="<%= user.name %>" />	
		<input type="hidden" name="action" value="edit" />
		<input type="submit" value="Edit" />
		</form>
	</td>
</tr>
<% end %>
</tbody>
<% end %>
<% end template %> 

<% end view %>
<% end skin %>

